<%= render partial: "/layouts/navigation" %>

               
        <div class="header-top">
        <div class="title">
         <p><%= @each_post.subject %></p>
        </div>
       </div>
        
        
        <p><%= @each_post.content %></p>
           

<%= render partial: "/layouts/fooster" %>