<%= render partial: "/layouts/navigation" %>

 <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Portfolio Item
                    <small>Item Subheading</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img  class="img-responsive" src="http://cafeptthumb1.phinf.naver.net/20160528_152/gamrom01_1464422458746Vn9Lk_JPEG/03.JPG?type=w740" alt="">
            </div>
        <div class="col-md-4">
                <div class="well">
                <font face="Comic Sans MS">    
                    <h3>Menu</h3>
                        <ul class ="list-group">
                            <li class="list-group-item">커피　3.0 ~ 4.6</li>
                            <li class="list-group-item">라떼　4.0 ~ 4.8</li>
                            <li class="list-group-item">프라푸치노　5.0</li>
                            <li class="list-group-item">티　3.8 ~ 4.8</li>
                            <li class="list-group-item">주스,스무디　5.0 ~ 6.0</li>
                            <li class="list-group-item">디저트류　3.0 ~ 7.0</li>
                            <li class="list-group-item">빙수류　5.5 ~ 7.0</li>
                            <li class="list-group-item">알코올　5.5~6.5</li>
                </font>
                    </div>
                </ul>
                <a class="btn btn-default" href="/home/index" role="button">목록</a>
            </div>
            

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">내부사진</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                    <img class="img-responsive portfolio-item" src="http://cafefiles.naver.net/20160528_150/gamrom01_1464427126584xFUXK_JPEG/IMG_4086.JPG" alt="">
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://cafeptthumb1.phinf.naver.net/20160528_101/gamrom01_1464427126954MWx78_JPEG/IMG_4087.JPG?type=w740" alt="">
                </a>
            </div>

          
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../assets/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../assets/bootstrap.min.js"></script>
 