<%= render partial: "/layouts/navigation" %>



 <!-- Page Content -->
    <div class="container">
      

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Portfolio Item
                    <small>Item Subheading</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">
             <div class="col-md-8">
                <img class="img-responsive" src="http://cafeptthumb1.phinf.naver.net/20160528_239/gamrom01_1464422501227yoChl_JPEG/05.JPG?type=w740" alt="">
             </div>
    <div class="col-md-4">
                <div class="well">
                <font face="Comic Sans MS">    
                    <h3>Menu</h3>
                        <ul class ="list-group">
                            <li class="list-group-item">커피　3.0 ~ 4.5</li>
                            <li class="list-group-item">라떼　3.5 ~ 4.8</li>
                            <li class="list-group-item">프라푸치노　4.0 ~ 5.3</li>
                            <li class="list-group-item">주스,스무디　5.3 ~ 5.5</li>
                            <li class="list-group-item">티　4.5</li>
                            
                </font>
                    </div>
                </ul>
                <a class="btn btn-default" href="/home/index" role="button">목록</a>
            </div>



        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">내부사진</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://cafeptthumb3.phinf.naver.net/20160528_55/gamrom01_1464427246720C4sYn_JPEG/P20160524_183444400_1AD8FA95-3440-47A6-A467-D023B4BF79D7.JPG?type=w740" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://cafeptthumb3.phinf.naver.net/20160528_63/gamrom01_1464427247547hFADl_JPEG/P20160524_183448269_C799984B-CE6D-4710-ADFA-AA21361107B8.JPG?type=w740" alt="">
                </a>
            </div>

          
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../assets/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../assets/bootstrap.min.js"></script>