<%= render partial: "/layouts/navigation" %>

 <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Portfolio Item
                    <small>Item Subheading</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="http://cafeptthumb1.phinf.naver.net/20160528_200/gamrom01_1464422501410vmPvT_JPEG/06.jpg?type=w740" alt="">
            </div>

            <div class="col-md-4">
                         
	            <div class="well">                
            	<font face="Comic Sans MS">                        
	               <h3>Menu</h3>
                    <h3>라운지오</h3>
                    <ul>
                        <li class="list-group-item">커피　2.0~4.0</li>	
                        <li class="list-group-item">라떼　2.8~4.0</li>	
                        <li class="list-group-item">프라프치노　2.5~4.0</li>
                        <li class="list-group-item">티　3.0~4.0	</li>
                        <li class="list-group-item">주스,스무디　4.0</li>	
                        <li class="list-group-item">디저트류　6.2~6.8</li>			
                        <li class="list-group-item">others　6.2~6.8</li>
                    </font>         
                    </div>  
                </ul>
                <a class="btn btn-default" href="/home/index" role="button">목록</a>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">내부사진</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://cafeptthumb3.phinf.naver.net/20160529_102/georgeyeon_1464452654074fTWcg_JPEG/%B6%F3%BF%EE%C1%F6%BF%C02.jpg?type=w740" alt="">
                </a>
            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../assets/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../assets/bootstrap.min.js"></script>