<%= render partial: "/layouts/navigation" %>

 <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Portfolio Item
                    <small>Item Subheading</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="http://cafeptthumb3.phinf.naver.net/20160528_266/georgeyeon_14644226381859gG38_JPEG/14.jpg?type=w740" alt="">
            </div>

 <div class="col-md-4">
                <div class="well">
                <font face="Comic Sans MS">    
                    <h3>Menu</h3>
                        <ul class ="list-group">
                            <li class="list-group-item">커피　2.0 ~ 3.3</li>
                            <li class="list-group-item">라떼　2.8 ~ 3.5</li>
                            <li class="list-group-item">프라푸치노　3.0 ~ 3.8</li>
                            <li class="list-group-item">티　2.0 </li>
                            <li class="list-group-item">디저트류　1.2 ~ 3.2</li>
                        
                </font>
                    </div>
                </ul>
                <a class="btn btn-default" href="/home/index_2" role="button">목록</a>
            </div>


           

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">내부사진</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://cafeptthumb2.phinf.naver.net/20160529_4/lastindus_14644521478783E5ov_JPEG/20160523_125917.jpg?type=w740" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://cafeptthumb2.phinf.naver.net/20160529_89/lastindus_1464452148133q0lXL_JPEG/20160523_125920.jpg?type=w740" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://cafeptthumb3.phinf.naver.net/20160529_155/lastindus_1464452148499Q2Ogq_JPEG/20160523_130103.jpg?type=w740" alt="">
                </a>
            </div>
          
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../assets/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../assets/bootstrap.min.js"></script>