<%= render partial: "/layouts/navigation" %>

 <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Portfolio Item
                    <small>Item Subheading</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="http://cafeptthumb3.phinf.naver.net/20160528_204/georgeyeon_1464422638370yRHwC_JPEG/15.jpg?type=w740" alt="">
            </div>
            
             <div class="col-md-4">
                <div class="well">
                <font face="Comic Sans MS">    
                    <h3>Menu</h3>
                        <ul class ="list-group">
                            <li class="list-group-item">커피　3.9 ~ 5.5</li>
                            <li class="list-group-item">라떼　5.0</li>
                            <li class="list-group-item">프라푸치노　5.0</li>
                            <li class="list-group-item">주스,스무디　6.0 ~ 6.3</li>
                            <li class="list-group-item">디저트류　3.3 ~ 6.0</li>
                            <li class="list-group-item">빙수류　10.3 ~ 13.0</li>
                            
                </font>
                    </div>
                </ul>
                <a class="btn btn-default" href="/home/index_2" role="button">목록</a>
            </div>
            

            

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">내부사진</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://cafeptthumb4.phinf.naver.net/20160528_127/lastindus_1464427366503Egcgu_JPEG/KakaoTalk_20160528_175708093.jpg?type=w740" alt="">
                </a>
            </div>

            

          
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../assets/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../assets/bootstrap.min.js"></script>