<%= render partial: "/layouts/navigation" %>

 <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Portfolio Item
                    <small>Item Subheading</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="http://cafeptthumb4.phinf.naver.net/20160528_226/georgeyeon_14644226387673rPDR_JPEG/17.jpg?type=w740" alt="">
            </div>

            <div class="col-md-4">
              <div class="well">                            	
                <font face="Comic Sans MS">                        	             
                <h3>Menu</h3>                       	              
                    <ul class ="list-group"> 
                    <li class="list-group-item">커피　2.5~4.0</li>
                    <li class="list-group-item">라떼　4.0~4.5</li>
                    <li class="list-group-item">프라프치노　3.5~4.5</li>
                    <li class="list-group-item">티　3.5~4.0</li>
                    <li class="list-group-item">주스,스무디　4.5</li>
                    <li class="list-group-item">빙수　8.0</li>
                    <li class="list-group-item">others　3.5</li>

                  </ul>
                </font>
              </div>
              <a class="btn btn-default" href="/home/index_2" role="button">목록</a>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

 

            

          
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p></p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../assets/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../assets/bootstrap.min.js"></script>