<%= render partial: "/layouts/navigation" %>

 <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Portfolio Item
                    <small>Item Subheading</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="http://cafeptthumb4.phinf.naver.net/20160528_50/georgeyeon_14644226388977XDrE_JPEG/18.jpg?type=w740" alt="">
            </div>

            <div class="col-md-4">
              <div class="well">                            	
                <font face="Comic Sans MS">                        	             
                <h3>Menu</h3>                       	              
                    <ul class ="list-group">
                    <li class="list-group-item">커피　3.5~6.0</li>
                    <li class="list-group-item">라떼　4.5</li>
                    <li class="list-group-item">프라프치노　5.0</li>
                    <li class="list-group-item">티　5.0~5.5</li>
                    <li class="list-group-item">주스,스무디　5.0</li>
                    <li class="list-group-item">others　4.5~6.0</li>
                  
                </ul>
                </font>
                </div>
                <a class="btn btn-default" href="/home/index_2" role="button">목록</a>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">내부사진</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://cafefiles.naver.net/20160528_89/baekkimok_1464422569144hKPYA_JPEG/KakaoTalk_20160526_181608682.jpg" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://cafefiles.naver.net/20160528_289/baekkimok_1464422568892CmwIy_JPEG/KakaoTalk_20160526_181606117.jpg" alt="">
                </a>
            </div>
            
            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://cafefiles.naver.net/20160528_210/baekkimok_1464422568474fsyx0_JPEG/KakaoTalk_20160526_181604691.jpg" alt="">
                </a>
            </div>
            
            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://cafefiles.naver.net/20160528_296/baekkimok_1464422567550DMxvM_JPEG/KakaoTalk_20160526_181547392.jpg" alt="">
                </a>
            </div>
            
            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://cafefiles.naver.net/20160528_210/baekkimok_1464422566837gFyMA_JPEG/KakaoTalk_20160526_181545898.jpg" alt="">
                </a>
            </div>

          
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../assets/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../assets/bootstrap.min.js"></script>