<%= render partial: "/layouts/navigation" %>

 <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Portfolio Item
                    <small>Item Subheading</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="http://cafeptthumb3.phinf.naver.net/20160528_73/georgeyeon_1464422639622OjQ5r_JPEG/22.jpg?type=w740" alt="">
            </div>

            <div class="col-md-4">
              <div class="well">                            	          
                <font face="Comic Sans MS">                        	                            
                <h3>Menu</h3>                       	                               
                  <ul class ="list-group">     
                    <li class="list-group-item">커피　3.8~5.0</li>
                    <li class="list-group-item">라떼　5.0</li>				
                    <li class="list-group-item">프라프피노　5.0</li>
                    <li class="list-group-item">티　5.5</li>
                    <li class="list-group-item">주스,스무디　5.5</li>
                  </ul>
                </font>
                </div>
                <a class="btn btn-default" href="/home/index_3" role="button">목록</a>
            </div>
            
            

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">내부사진</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://cafeptthumb2.phinf.naver.net/20160528_104/lastindus_1464425126896JDF9o_JPEG/KakaoTalk_20160526_183332860.jpg?type=w740" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://cafeptthumb3.phinf.naver.net/20160528_87/lastindus_1464425126550y1dTQ_JPEG/KakaoTalk_20160526_183332027.jpg?type=w740" alt="">
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://cafeptthumb3.phinf.naver.net/20160528_62/lastindus_1464425126152Vqrkf_JPEG/KakaoTalk_20160526_183331187.jpg?type=w740" alt="">
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://cafeptthumb2.phinf.naver.net/20160528_159/lastindus_1464425125842d31ft_JPEG/KakaoTalk_20160526_183329778.jpg?type=w740" alt="">
                </a>
            </div>

          
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../assets/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../assets/bootstrap.min.js"></script>