<%= render partial: "/layouts/navigation" %>

 <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Portfolio Item
                    <small>Item Subheading</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="http://cafeptthumb4.phinf.naver.net/20160528_50/gamrom01_1464438387754wptFE_JPEG/29.jpg?type=w740" alt="">
            </div>

            <div class="col-md-4">
              <div class="well">                            	
                <font face="Comic Sans MS">                        	             
                  <h3>Menu</h3> 
                    <ul class ="list-group">     
                    <li class="list-group-item">커피　3.6~4.6</li>
                    <li class="list-group-item">라떼　5.1~6.4</li>
                    <li class="list-group-item">프라푸치노　5.2~6.4</li>
                    <li class="list-group-item">티　4.3~5.3</li>
                    <li class="list-group-item">주스,스무디　5.5~5.2</li>
                    <li class="list-group-item">논알콜　5.5</li>
                    
                    </ul>				
                </font>
              </div>
              <a class="btn btn-default" href="/home/index_4" role="button">목록</a>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">내부사진</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://cafeptthumb2.phinf.naver.net/20160528_278/409137_1464426448731t6ckA_JPEG/%C5%BD%BF%A3%C5%BD%BD%BA2.jpg?type=w740" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://cafeptthumb1.phinf.naver.net/20160528_260/409137_1464426448938C4JgD_JPEG/%C5%BD%BF%A3%C5%BD%BD%BA3.jpg?type=w740" alt="">
                </a>
            </div>

          
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../assets/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../assets/bootstrap.min.js"></script>