<%= render partial: "/layouts/navigation" %>  
    

  <div id="wrap">
<div id="inner">
<div class="wrap">
	<%= render partial: "/layouts/main" %>
	<div id="content-sidebar-wrap">

	<!-- 10 -->
		<div class="post-1 post type-post status-publish format-standard hentry category-featured category-uncategorized entry fourcol first one-third teaser first">

		<a href="/home/10_namsan" title="Hello world!"><img width="300" height="168" src="http://cafeptthumb4.phinf.naver.net/20160528_87/gamrom01_1464422502243VbC4J_JPEG/10.jpg?type=w740" class="alignleft post-image" alt="2" /></a>		
		<h2 class="entry-title"><a href="/home/10_namsan" title="Hello world!"><font face="Comic Sans MS">남산학사 cafe</font></a></h2>
		
				<div class="entry-content">
			      목적 <strong>팀플,주로 수다</strong><br>
			        테이블 수 <strong>15개</strong><br>
				    화장실 유무 <strong>X</strong>      <br>
					편안함 정도 <strong>★★★★</strong> <br>
					컨센트 개수 <strong>8개</strong> <br>
					세미나실 유무 <strong>X</strong>    <br>
				</div><!-- end .entry-content -->
		
	    </div><!-- end .postclass -->

	 <!-- 11 -->   
		<div class="post-63 post type-post status-publish format-standard hentry category-child-category-i category-featured category-parent-category-i category-parent-category-ii tag-tag2 tag-tag5 tag-tag6 entry fourcol one-third teaser">

		<a href="/home/11_jungdo_cafe" title="Another Post with Everything"><img width="300" height="168" src="http://cafeptthumb2.phinf.naver.net/20160528_99/gamrom01_1464422502648435Wf_JPEG/11.jpg?type=w740" class="alignleft post-image" alt="3" /></a>	
		<h2 class="entry-title"><a href="/home/11_jungdo_cafe" title="Another Post with Everything">중도 cafe</a></h2> 
		
				<div class="entry-content">
			        목적 <strong>수다</strong><br>
			        테이블 수 <strong>15개</strong><br>
				    화장실 유무 <strong>X</strong>      <br>
					편안함 정도 <strong>★★★</strong> <br>
					컨센트 개수 <strong>없음</strong> <br>
					세미나실 유무 <strong>X</strong>    <br>
			    </div><!-- end .entry-content -->
		
		</div><!-- end .postclass -->

	<!-- 12 -->	
		<div class="post-61 post type-post status-publish format-standard hentry category-featured category-uncategorized entry fourcol one-third teaser">

		<a href="/home/12_vonie_hakrim" title="An Ordered List Post"><img width="300" height="168" src="http://cafeptthumb4.phinf.naver.net/20160528_96/gamrom01_1464422502954NdNLq_JPEG/12.jpg?type=w740" class="alignleft post-image" alt="4" /></a>	
		<h2 class="entry-title"><a href="/home/12_vonie_hakrim" title="An Ordered List Post">Vonie <학림관></a></h2> 
		
				<div class="entry-content">
			     목적 <strong>휴식,팀플</strong><br>
			        테이블 수 <strong>30개</strong><br>
				    화장실 유무 <strong>X</strong>      <br>
					편안함 정도 <strong>★★★★</strong> <br>
					컨센트 개수 <strong>10개</strong> <br>
					세미나실 유무 <strong>X</strong>    <br>
					특이사항 <strong>야외 좌석 보유</strong>
			    </div><!-- end .entry-content -->
	
		</div><!-- end .postclass -->
	
	<!-- 13 -->
		<div class="post-56 post type-post status-publish format-standard hentry category-child-category-iii category-featured category-parent-category-iii tag-tag1 tag-tag3 tag-tag6 entry fourcol first last one-third teaser first">

		<a href="/home/13_sserio" title="A Simple Text Post"><img width="300" height="168" src="http://cafeptthumb1.phinf.naver.net/20160528_82/gamrom01_1464422503185rl9d2_JPEG/13.jpg?type=w740" class="alignleft post-image" alt="5" /></a>	
		<h2 class="entry-title"><a href="/home/13_sserio" title="A Simple Text Post">Serio</a></h2> 
		
				<div class="entry-content">
			       	목적 <strong>수다</strong><br>
			        테이블 수 <strong>20개</strong><br>
				    화장실 유무 <strong>X</strong>      <br>
					편안함 정도 <strong>★★★</strong> <br>
					컨센트 개수 <strong>없음</strong> <br>
					세미나실 유무 <strong>X</strong>    <br>
					특이사항 <strong>야외 좌석 보유</strong>
				</div><!-- end .entry-content -->
		
		</div><!-- end .postclass -->
		
	<!-- 14 -->
		<div class="post-53 post type-post status-publish format-standard hentry category-featured category-uncategorized entry fourcol one-third teaser">

		<a href="/home/14_gust" title="Hello world!"><img width="300" height="168" src="http://cafeptthumb1.phinf.naver.net/20160528_86/gamrom01_1464439170295rp7ul_JPEG/14%B9%F8%BC%F6%C1%A42.jpg?type=w740" class="alignleft post-image" alt="6" /></a>	
		<h2 class="entry-title"><a href="/home/14_gust" title="Hello world!">Gusto coffee</a></h2> 
		
				<div class="entry-content">
			       	목적 <strong>팀플,주로 수도</strong><br>
			        테이블 수 <strong>18개</strong><br>
				    화장실 유무 <strong>O</strong>      <br>
					편안함 정도 <strong>★★★★</strong> <br>
					컨센트 개수 <strong>10개</strong> <br>
					세미나실 유무 <strong>X</strong>    <br>
					특이사항 <strong>분위기 좋음</strong>
                </div><!-- end .entry-content -->
		
		</div><!-- end .postclass -->
		
	<!-- 15 -->
		<div class="post-51 post type-post status-publish format-standard hentry category-child-category-ii category-featured category-grandchild-category-i category-parent-category-i category-parent-category-ii tag-tag1 tag-tag2 tag-tag5 tag-tag7 entry fourcol one-third teaser">

		<a href="/home/15_pascucci" title="A Post With Everything In It"><img width="300" height="168" src="http://cafeptthumb3.phinf.naver.net/20160528_204/georgeyeon_1464422638370yRHwC_JPEG/15.jpg?type=w740" class="alignleft post-image" alt="7" /></a>	
		<h2 class="entry-title"><a href="/home/15_pascucci" title="A Post With Everything In It">Pascucci</a></h2> 
		
				<div class="entry-content">
			      목적 <strong>수다,공부</strong><br>
			      테이블 수 <strong>20개</strong><br>
			      화장실 유무 <strong>O</strong>      <br>
				    편안함 정도 <strong>★★★★</strong> <br>
					  컨센트 개수 <strong>10개 이상</strong> <br>
					  세미나실 유무 <strong>X</strong>    <br>
				  	특이사항 <strong>2층으로 되어있으며 실외 테라스가 있다 다소 조용한 분위기</strong>
			    </div><!-- end .entry-content -->
		
		</div><!-- end .postclass -->
		
	<!--16 -->	
		<div class="post-49 post type-post status-publish format-standard hentry category-featured category-uncategorized tag-tag2 tag-tag5 tag-tag7 entry fourcol first one-third teaser first">

		<a href="/home/16_aristar" title="Quotes Time!"><img width="300" height="168" src="http://cafeptthumb4.phinf.naver.net/20160528_32/gamrom01_1464438985843eVTo8_JPEG/16%B9%F8%BC%F6%C1%A4.jpg?type=w740" class="alignleft post-image" alt="8" /></a>		
		<h2 class="entry-title"><a href="/home/16_aristar" title="Quotes Time!" rel="bookmark">ARISTAR COFFEE</a></h2> 
		
				<div class="entry-content">
			       목적 <strong>조용한 공부</strong><br>
			        좌석 <strong>80개</strong><br>
				    화장실 유무 <strong>O</strong>      <br>
					편안함 정도 <strong>★★★★</strong> <br>
					컨센트 개수 <strong>조금 많음</strong> <br>
					특이사항 <strong>분위기 좋음</strong>
		
		        </div><!-- en .postclass -->
		</div>
	<!--17 -->
		<div class="post-47 post type-post status-publish format-standard hentry category-featured category-parent-category-ii category-parent-category-iii tag-tag2 tag-tag4 tag-tag7 entry fourcol one-third teaser">

		<a href="/home/17_coffeenamu" title="Left-Aligned Image"><img width="300" height="168" src="http://cafeptthumb4.phinf.naver.net/20160528_226/georgeyeon_14644226387673rPDR_JPEG/17.jpg?type=w740" class="alignleft post-image" alt="9" /></a>	
		<h2 class="entry-title"><a href="/home/17_coffeenamu" title="Left-Aligned Image">커피나무</a></h2> 
		
				<div class="entry-content">
			       목적 <strong>수다</strong><br>
			        좌석 수 <strong>16개</strong><br>
				    화장실 유무 <strong>O</strong>      <br>
					편안함 정도 <strong>★★★★</strong> <br>
					컨센트 개수 <strong>보통</strong> <br>
					세미나실 유무 <strong>X</strong>    <br>
					특이사항 <strong>분위기 좋음</strong>
				</div><!-- end .entry-content -->
		
		</div><!-- end .postclass -->
		
	<!--18 -->
		<div class="post-45 post type-post status-publish format-standard hentry category-child-category-ii category-featured category-grandchild-category-i category-parent-category-i entry fourcol one-third teaser">

		<a href="18_evi_cafe" title="Another Text-Only Post"><img width="300" height="168" src="http://cafeptthumb4.phinf.naver.net/20160528_120/gamrom01_1464438986362862rM_JPEG/18%B9%F8_%BC%F6%C1%A4.jpg?type=w740" class="alignleft post-image" alt="10" /></a>	
		<h2 class="entry-title"><a href="18_evi_cafe" title="Another Text-Only Post">Evin's Coffee</a></h2> 
		
				<div class="entry-content">
			     목적 <strong>팀플,주로 수다</strong><br>
			        좌석 수 <strong>30개</strong><br>
				    화장실 유무 <strong>O</strong>      <br>
					편안함 정도 <strong>★★★★</strong> <br>
					컨센트 개수 <strong>많음</strong> <br>
					세미나실 유무 <strong>o</strong>    <br>
					특이사항 <strong>디자인 예쁨, 3층테라스</strong>
				</div><!-- end .entry-content -->
		
		</div><!-- end .postclass -->
		
		


	
	
		
	  
	    
   
	</div><!-- end #content-sidebar-wrap -->
	</div><!-- end .wrap --></div><!-- end #inner --> 



<div style="margin-bottom:35px">
	<center><a class="btn btn-default" href="/home/index" role="button">1</a>
			<a class="btn btn-default" href="/home/index_2" role="button">2</a>
			<a class="btn btn-default" href="/home/index_3" role="button">3</a>
			<a class="btn btn-default" href="/home/index_4" role="button">4</a>
			<a href="/list">
        <button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-align-left" aria-hidden="true">게시판</span></button></a></center>
</div>



<%= render partial: "/layouts/fooster" %>
 
</div><!-- end #wrap -->


</div>


