<%= render partial: "/layouts/navigation" %>  
    

  <div id="wrap">
<div id="inner">
<div class="wrap">
	<%= render partial: "/layouts/main" %>
	<div id="content-sidebar-wrap">

	<!-- 28 -->
		<div class="post-1 post type-post status-publish format-standard hentry category-featured category-uncategorized entry fourcol first one-third teaser first">

		<a href="/home/28_starbucks" title="Hello world!"><img width="300" height="168" src="http://cafeptthumb1.phinf.naver.net/20160528_115/gamrom01_1464439393560YK2CF_JPEG/32%BC%F6%C1%A4.jpg?type=w740" class="alignleft post-image" alt="2" /></a>		
		<h2 class="entry-title"><a href="/home/28_starbucks" title="Hello world!"><font face="Comic Sans MS">Starbucks(충무로)</font></a></h2>
		
				<div class="entry-content">
			      목적 <strong>팀플,수다,휴식</strong><br>
			       좌석수 <strong>약 130석</strong><br>
					화장실 유무 <strong>o</strong>
					컨센트 개수 <strong>매우 많음</strong>      <br>
					편안함 정도 <strong>★★★</strong> <br>
					특이사항 <strong>흡연실</strong>
				</div><!-- end .entry-content -->
		
	    </div><!-- end .postclass -->

	 <!-- 29 -->   
		<div class="post-63 post type-post status-publish format-standard hentry category-child-category-i category-featured category-parent-category-i category-parent-category-ii tag-tag2 tag-tag5 tag-tag6 entry fourcol one-third teaser">

		<a href="/home/29_hollys_chungmuro" title="Another Post with Everything"><img width="300" height="168" src="http://cafeptthumb4.phinf.naver.net/20160528_50/gamrom01_1464438387754wptFE_JPEG/29.jpg?type=w740" class="alignleft post-image" alt="3" /></a>	
		<h2 class="entry-title"><a href="/home/29_hollys_chungmuro" title="Another Post with Everything">Hollys 충무로점</a></h2> 
		
				<div class="entry-content">
			       목적 <strong>수다</strong><br>
			       좌석수 <strong>약 120석</strong><br>
					화장실 유무 <strong>X</strong>
					컨센트 개수 <strong>8</strong>      <br>
					편안함 정도 <strong>★★★</strong> <br>
					특이사항 <strong>흡연실</strong>
			    </div><!-- end .entry-content -->
		
		</div><!-- end .postclass -->

	<!--30 -->	
		<div class="post-61 post type-post status-publish format-standard hentry category-featured category-uncategorized entry fourcol one-third teaser">

		<a href="/home/30_tomtom" title="An Ordered List Post"><img width="300" height="168" src="http://cafeptthumb1.phinf.naver.net/20160528_227/gamrom01_1464438388119BdYIq_JPEG/30.jpg?type=w740" class="alignleft post-image" alt="4" /></a>	
		<h2 class="entry-title"><a href="/home/30_tomtom" title="An Ordered List Post">Tom N Toms</a></h2> 
		
				<div class="entry-content">
			       	목적 <strong>수다,휴식</strong><br>
			       좌석수 <strong>약 100석</strong><br>
					화장실 유무 <strong>o</strong>      <br>
					컨센트 개수 <strong>24</strong>      <br>
					세미나실 유무 <strong>X</strong>    <br>
					특이사항 <strong>흡연실</strong>
				</div><!-- end .entry-content -->
	
		</div><!-- end .postclass -->
	
	<!--31 -->
		<div class="post-56 post type-post status-publish format-standard hentry category-child-category-iii category-featured category-parent-category-iii tag-tag1 tag-tag3 tag-tag6 entry fourcol first last one-third teaser first">

		<a href="/home/31_cafezone" title="A Simple Text Post"><img width="300" height="168" src="http://cafeptthumb1.phinf.naver.net/20160528_274/gamrom01_146443939216049dcd_JPEG/31%BC%F6%C1%A4.jpg?type=w740" class="alignleft post-image" alt="5" /></a>	
		<h2 class="entry-title"><a href="/home/31_cafezone" title="A Simple Text Post">CoffeeZone</a></h2> 
		
				<div class="entry-content">
			      	목적 <strong>팀플,휴식</strong><br>
			       좌석수 <strong>약 100석</strong><br>
			       컨센트 개수 <strong>8</strong>
					화장실 유무 <strong>o</strong>      <br>
					세미나실 유무 <strong>X</strong>    <br>
					
				</div><!-- end .entry-content -->
		
		</div><!-- end .postclass -->
		
	<!--32 -->
		<div class="post-53 post type-post status-publish format-standard hentry category-featured category-uncategorized entry fourcol one-third teaser">

		<a href="/home/32_starbucks_daehan" title="Hello world!"><img width="300" height="168" src="http://cafeptthumb1.phinf.naver.net/20160528_219/gamrom01_1464438389128dMemI_JPEG/28.jpg?type=w740" class="alignleft post-image" alt="6" /></a>	
		<h2 class="entry-title"><a href="/home/32_starbucks_daehan" title="Hello world!">Starbucks(대한극장)</a></h2> 
		
				<div class="entry-content">
			      	목적 <strong>수다,휴식</strong><br>
			        좌석수 <strong>약 24석</strong><br>
			        컨센트 개수 <strong>x</strong>
					화장실 유무 <strong>o</strong>      <br>
					세미나실 유무 <strong>X</strong>    <br>
					특이사항 <strong>흡연실</strong>
				</div><!-- end .entry-content -->
		
		</div><!-- end .postclass -->
		
		
		
		


	
	
		
	  
	    
   


	</div><!-- end #content-sidebar-wrap -->
	</div><!-- end .wrap --></div><!-- end #inner --> 

<div style="margin-bottom:35px">
	<center><a class="btn btn-default" href="/home/index" role="button">1</a>
			<a class="btn btn-default" href="/home/index_2" role="button">2</a>
			<a class="btn btn-default" href="/home/index_3" role="button">3</a>
			<a class="btn btn-default" href="/home/index_4" role="button">4</a></center>
</div>
<%= render partial: "/layouts/fooster" %>
 
</div><!-- end #wrap -->


</div>