<%= render partial: "/layouts/navigation" %>  
    

  <div id="wrap">
<div id="inner">
<div class="wrap">
	<%= render partial: "/layouts/main" %>
	<div id="content-sidebar-wrap">

	<!-- 19 -->
		<div class="post-1 post type-post status-publish format-standard hentry category-featured category-uncategorized entry fourcol first one-third teaser first">

		<a href="/home/19_orang_ju" title="Hello world!"><img width="300" height="168" src="http://cafeptthumb2.phinf.naver.net/20160528_240/gamrom01_1464439390323saWld_JPEG/19%BC%F6%C1%A4.jpg?type=w740" class="alignleft post-image" alt="2" /></a>		
		<h2 class="entry-title"><a href="/home/19_orang_ju" title="Hello world!"><font face="Comic Sans MS">Cafe L'Orange</font></a></h2>
		
				<div class="entry-content">
			      목적 <strong>수다</strong><br>
			       좌석수 <strong>40석</strong><br>
					화장실 유무 <strong>?</strong>
					컨센트 개수 <strong>x</strong>      <br>
					편안함 정도 <strong>★★★</strong> <br>
					특이사항 <strong>건너편 갤러리</strong>
				</div><!-- end .entry-content -->
		
	    </div><!-- end .postclass -->

	 <!-- 20 -->   
		<div class="post-63 post type-post status-publish format-standard hentry category-child-category-i category-featured category-parent-category-i category-parent-category-ii tag-tag2 tag-tag5 tag-tag6 entry fourcol one-third teaser">

		<a href="/home/20_manraep" title="Another Post with Everything"><img width="300" height="168" src="http://cafeptthumb1.phinf.naver.net/20160528_72/georgeyeon_1464422639277LXFgB_JPEG/20.jpg?type=w740" class="alignleft post-image" alt="3" /></a>	
		<h2 class="entry-title"><a href="/home/20_manraep" title="Another Post with Everything">10000lab Coffee</a></h2> 
		
				<div class="entry-content">
			       목적 <strong>칠링</strong><br>
			       좌석수 <strong>약 120석</strong><br>
					화장실 유무 <strong>X</strong>
					컨센트 개수 <strong>x</strong>      <br>
					편안함 정도 <strong>★★★★</strong> <br>
					특이사항 <strong>좌석이 거의 테라스라 칠링에 좋음.</strong>
			    </div><!-- end .entry-content -->
		
		</div><!-- end .postclass -->

	<!--21 -->	
		<div class="post-61 post type-post status-publish format-standard hentry category-featured category-uncategorized entry fourcol one-third teaser">

		<a href="/home/21_bokneun" title="An Ordered List Post"><img width="300" height="168" src="http://cafeptthumb1.phinf.naver.net/20160528_126/georgeyeon_14644226394614ukBg_JPEG/21.jpg?type=w740" class="alignleft post-image" alt="4" /></a>	
		<h2 class="entry-title"><a href="/home/21_bokneun" title="An Ordered List Post">커피볶는집</a></h2> 
		
				<div class="entry-content">
			      목적 <strong>공부</strong><br>
			       좌석수 <strong>약 21석</strong><br>
					화장실 유무 <strong>?</strong>
					컨센트 개수 <strong>x</strong>      <br>
					편안함 정도 <strong>★★★</strong> <br>
					특이사항 <strong>고객 연령층 높음</strong>
				</div><!-- end .entry-content -->
	
		</div><!-- end .postclass -->
	
	<!--22 -->
		<div class="post-56 post type-post status-publish format-standard hentry category-child-category-iii category-featured category-parent-category-iii tag-tag1 tag-tag3 tag-tag6 entry fourcol first last one-third teaser first">

		<a href="/home/22_cafe_factory" title="A Simple Text Post"><img width="300" height="168" src="http://cafeptthumb3.phinf.naver.net/20160528_73/georgeyeon_1464422639622OjQ5r_JPEG/22.jpg?type=w740" class="alignleft post-image" alt="5" /></a>	
		<h2 class="entry-title"><a href="/home/22_cafe_factory" title="A Simple Text Post">Cafe Factory</a></h2> 
		
				<div class="entry-content">
			       목적 <strong>식사,휴식</strong><br>
			       좌석수 <strong>20석 이상</strong><br>
					화장실 유무 <strong>O</strong><br>
					세미나실 유무 <strong>X</strong><br>
					컨센트 개수 <strong>10개 이상</strong><br>
					편안함 정도 <strong>★★★</strong> <br>
					특이사항 <strong>주력이 커피가 아닌 식사에 맞춰져 있기때문에 공부목적으로 가는 카페는 아님</strong>
				</div><!-- end .entry-content -->
		
		</div><!-- end .postclass -->
		
	<!--23 -->
		<div class="post-53 post type-post status-publish format-standard hentry category-featured category-uncategorized entry fourcol one-third teaser">

		<a href="/home/23_workshop" title="Hello world!"><img width="300" height="168" src="http://cafeptthumb3.phinf.naver.net/20160528_251/georgeyeon_1464422639781V2NIt_JPEG/23.jpg?type=w740" class="alignleft post-image" alt="6" /></a>	
		<h2 class="entry-title"><a href="/home/23_workshop" title="Hello world!">Workshop</a></h2> 
		
				<div class="entry-content">
			       목적 <strong>스터디</strong><br>
			       좌석수 <strong>20테이블 이상</strong><br>
					화장실 유무 <strong>O</strong><br>
					세미나실 유무 <strong>X</strong><br>
					컨센트 개수 <strong>매우 다량</strong><br>
					편안함 정도 <strong>★★</strong> <br>
					특이사항 <strong>스터디에 초점을 맞춘 카페 </strong>
				</div><!-- end .entry-content -->
		
		</div><!-- end .postclass -->
		
	<!--24 -->
		<div class="post-51 post type-post status-publish format-standard hentry category-child-category-ii category-featured category-grandchild-category-i category-parent-category-i category-parent-category-ii tag-tag1 tag-tag2 tag-tag5 tag-tag7 entry fourcol one-third teaser">

		<a href="/home/24_peoples" title="A Post With Everything In It"><img width="300" height="168" src="http://cafeptthumb3.phinf.naver.net/20160528_170/gamrom01_1464439390702aXtUJ_JPEG/24%BC%F6%C1%A4.jpg?type=w740" class="alignleft post-image" alt="7" /></a>	
		<h2 class="entry-title"><a href="/home/24_peoples" title="A Post With Everything In It">Peoples Cafe</a></h2> 
		
				<div class="entry-content">
			        목적 <strong>스터디, 수다</strong><br>
			        좌석수 <strong>25테이블 이상</strong><br>
					화장실 유무 <strong>O</strong><br>
					세미나실 유무 <strong>O</strong><br>
					컨센트 개수 <strong>10개 이상</strong><br>
					편안함 정도 <strong>★★★★</strong> <br>
					특이사항 <strong>스터디 및 특수용도로 이용가능한 오피스룸이 있다. 가격이 싸서 이용하기 좋음. </strong>
			    </div><!-- end .entry-content -->
		
		</div><!-- end .postclass -->
		
	<!--25 -->
		<div class="post-49 post type-post status-publish format-standard hentry category-featured category-uncategorized tag-tag2 tag-tag5 tag-tag7 entry fourcol first one-third teaser first">

		<a href="/home/25_topresso" title="Quotes Time!"><img width="300" height="168" src="http://cafeptthumb1.phinf.naver.net/20160528_196/georgeyeon_1464422640045iMUtH_JPEG/25.jpg?type=w740" class="alignleft post-image" alt="8" /></a>		
		<h2 class="entry-title"><a href="/home/25_topresso" title="Quotes Time!" rel="bookmark">ToPresso</a></h2> 
		
				<div class="entry-content">
			        목적 <strong>스터디, 수다</strong><br>
			        좌석수 <strong>12개</strong><br>
					화장실 유무 <strong>O</strong><br>
					세미나실 유무 <strong>X</strong><br>
					컨센트 개수 <strong>10개 이상</strong><br>
					편안함 정도 <strong>★★★</strong> <br>
					특이사항 <strong>세미나실은 없으나 6인석정도의 큰 좌석이 있음</strong>
				</div><!-- end .entry-content -->
		
		</div><!-- end .postclass -->
		
	<!--26 -->
		<div class="post-47 post type-post status-publish format-standard hentry category-featured category-parent-category-ii category-parent-category-iii tag-tag2 tag-tag4 tag-tag7 entry fourcol one-third teaser">

		<a href="/home/26_supercaffee" title="Left-Aligned Image"><img width="300" height="168" src="http://cafeptthumb4.phinf.naver.net/20160528_60/georgeyeon_14644226401633Jz5L_JPEG/26.jpg?type=w740" class="alignleft post-image" alt="9" /></a>		
		<h2 class="entry-title"><a href="/home/26_supercaffee" title="A Post With a Left-Aligned Image" rel="bookmark">Super Coffee</a></h2> 
		
				<div class="entry-content">
			       목적 <strong>커피,수다</strong><br>
			        좌석수 <strong>5개</strong><br>
					화장실 유무 <strong>X</strong><br>
					세미나실 유무 <strong>X</strong><br>
					컨센트 개수 <strong>6개</strong><br>
					편안함 정도 <strong>★★</strong> <br>
					특이사항 <strong>2층에 앉아서 먹을 수 있는 공간이 있긴하지만 공간이 협소하다</strong>
				</div><!-- end .entry-content -->
		
		</div><!-- end .postclass -->
		
	<!--27 -->
		<div class="post-45 post type-post status-publish format-standard hentry category-child-category-ii category-featured category-grandchild-category-i category-parent-category-i entry fourcol one-third teaser">

		<a href="/home/27_cafebene_chungmuro" title="Another Text-Only Post"><img width="300" height="168" src="http://cafeptthumb1.phinf.naver.net/20160528_216/gamrom01_1464438504377tKNRN_JPEG/27.jpg?type=w740" class="alignleft post-image" alt="10" /></a>		
		<h2 class="entry-title"><a href="/home/27_cafebene_chungmuro" title="Another Text-Only Post" rel="bookmark">CaffeBene 충무로역점</a></h2> 
		
				<div class="entry-content">
			        목적 <strong>수다,팀플</strong><br>
			        좌석수 <strong>41석</strong><br>
					화장실 유무 <strong>O</strong><br>
					세미나실 유무 <strong>X</strong><br>
					컨센트 개수 <strong>10개</strong><br>
					편안함 정도 <strong>★★</strong> <br>
					특이사항 <strong>외부 흡연실</strong>
				</div><!-- end .entry-content -->
		
		</div><!-- end .postclass -->
		
		


	
	
		
	  
	    
   


	</div><!-- end #content-sidebar-wrap -->
	</div><!-- end .wrap --></div><!-- end #inner --> 

<div style="margin-bottom:35px">
	<center><a class="btn btn-default" href="/home/index" role="button">1</a>
			<a class="btn btn-default" href="/home/index_2" role="button">2</a>
			<a class="btn btn-default" href="/home/index_3" role="button">3</a>
			<a class="btn btn-default" href="/home/index_4" role="button">4</a></center>
</div>
<%= render partial: "/layouts/fooster" %>
 
</div><!-- end #wrap -->


</div>