<%= render partial: "/layouts/navigation" %>  


  <div id="wrap">
<div id="inner">
<div class="wrap">
	<%= render partial: "/layouts/main" %>
	<div id="content-sidebar-wrap">

	<!-- 1 -->
		<div class="post-1 post type-post status-publish format-standard hentry category-featured category-uncategorized entry fourcol first one-third teaser first">

		<a href="/home/01_coffine_gurunaru" title="Hello world!"><img width="300" height="168" src="http://cafeptthumb4.phinf.naver.net/20160528_103/gamrom01_1464422414932hKOXJ_JPEG/01.jpg?type=w740" class="alignleft post-image" alt="2" /></a>		
		<h2 class="entry-title"><a href="/home/01_coffine_gurunaru" title="Hello world!"><font face="Comic Sans MS">Coffine Gurunaru</font></a></h2>
		
				<div class="entry-content">
					좌석수 <strong>약 100석</strong><br>
					화장실 유무 <strong>X</strong>      <br>
					편안함정도 <strong>★★★</strong>       <br>
					컨센트 개수 <strong>약 30여개</strong>      <br>
					세미나실 유무 <strong>X</strong>    <br>
					특이사항 <strong>2층</strong>
				
					
				
				</div><!-- end .entry-content -->
		
	    </div><!-- end .postclass -->

	 <!-- 2 -->   
		<div class="post-63 post type-post status-publish format-standard hentry category-child-category-i category-featured category-parent-category-i category-parent-category-ii tag-tag2 tag-tag5 tag-tag6 entry fourcol one-third teaser">

		<a href="/home/02_caffe_revu" title="Another Post with Everything"><img width="300" height="168" src="http://cafeptthumb3.phinf.naver.net/20160528_20/georgeyeon_1464433064874p7HSC_JPEG/02.jpg?type=w740" class="alignleft post-image" alt="3" /></a>	
		<h2 class="entry-title"><a href="/home/02_caffe_revu" title="Another Post with Everything">Caffe Revu</a></h2> 
		
				<div class="entry-content">
					좌석수 <strong>약 30석</strong><br>
					화장실 유무 <strong>O</strong>      <br>
					편안함정도 <strong>★★★</strong>       <br>
					컨센트 개수 <strong>10개 미만</strong>      <br>
					세미나실 유무 <strong>X</strong>    <br>
					특이사항 <strong>공용화장실,비데</strong>
			    </div><!-- end .entry-content -->
		
		</div><!-- end .postclass -->

	<!--3 -->	
		<div class="post-61 post type-post status-publish format-standard hentry category-featured category-uncategorized entry fourcol one-third teaser">

		<a href="/home/03_arome_de_cafe" title="An Ordered List Post"><img width="300" height="168" src="http://cafeptthumb1.phinf.naver.net/20160528_152/gamrom01_1464422458746Vn9Lk_JPEG/03.JPG?type=w740" class="alignleft post-image" alt="4" /></a>	
		<h2 class="entry-title"><a href="/home/03_arome_de_cafe" title="An Ordered List Post">Arome De Cafe</a></h2> 
		
				<div class="entry-content">
					좌석수 <strong>약 100석</strong><br>
					화장실 유무 <strong>O</strong>      <br>
					편안함정도 <strong>★★★</strong>       <br>
					세미나실 유무 <strong>X</strong>    <br>
			    </div><!-- end .entry-content -->
	
		</div><!-- end .postclass -->
	
	<!--4 -->
		<div class="post-56 post type-post status-publish format-standard hentry category-child-category-iii category-featured category-parent-category-iii tag-tag1 tag-tag3 tag-tag6 entry fourcol first last one-third teaser first">

		<a href="/home/04_cafe_bene" title="A Simple Text Post"><img width="300" height="168" src="http://cafeptthumb3.phinf.naver.net/20160528_230/gamrom01_1464422501031fu0av_JPEG/04.jpg?type=w740" class="alignleft post-image" alt="5" /></a>	
		<h2 class="entry-title"><a href="/home/04_cafe_bene" title="A Simple Text Post">Caffe Bene</a></h2> 
		
				<div class="entry-content">
			        좌석수 <strong>약 100석</strong><br>
					화장실 유무 <strong>X</strong>      <br>
					편안함정도 <strong>★★★<br>
			</strong>		컨센트 개수 <strong>약 20여개</strong>      <br>
					세미나실 유무 <strong>X</strong>    <br>
				</div><!-- end .entry-content -->
		
		</div><!-- end .postclass -->
		
	<!--5 -->
		<div class="post-53 post type-post status-publish format-standard hentry category-featured category-uncategorized entry fourcol one-third teaser">

		<a href="/home/05_cafe7gram" title="Hello world!"><img width="300" height="168" src="http://cafeptthumb1.phinf.naver.net/20160528_239/gamrom01_1464422501227yoChl_JPEG/05.JPG?type=w740" class="alignleft post-image" alt="6" /></a>	
		<h2 class="entry-title"><a href="/home/05_cafe7gram" title="Hello world!">Cafe7gram</a></h2> 
		
				<div class="entry-content">
			       좌석수 <strong>약 30석석</strong><br>
					화장실 유무 <strong>X</strong>      <br>
					편안함정도 <strong>★★★</strong>       <br>
					컨센트 개수 <strong>약 10여개</strong>      <br>
					세미나실 유무 <strong>X</strong>    <br>
					특이사항 <strong>공용화장실,2층</strong>
				</div><!-- end .entry-content -->
		
		</div><!-- end .postclass -->
		
	<!--6 -->
		<div class="post-51 post type-post status-publish format-standard hentry category-child-category-ii category-featured category-grandchild-category-i category-parent-category-i category-parent-category-ii tag-tag1 tag-tag2 tag-tag5 tag-tag7 entry fourcol one-third teaser">

		<a href="/home/06_Lounge_O" title="A Post With Everything In It"><img width="300" height="168" src="http://cafeptthumb1.phinf.naver.net/20160528_200/gamrom01_1464422501410vmPvT_JPEG/06.jpg?type=w740" class="alignleft post-image" alt="7" /></a>	
		<h2 class="entry-title"><a href="/home/06_Lounge_O" title="A Post With Everything In It">Lounge'O</a></h2> 
		
				<div class="entry-content">
					목적 <strong>수다,휴식</strong><br>
			       좌석수 <strong>약 80석</strong><br>
					화장실 유무 <strong>X</strong>      <br>
					편안함 정도 <strong>★★</strong> <br>
					세미나실 유무 <strong>X</strong>    <br>
					특이사항 <strong>식사도 함께 판매</strong>
			    </div><!-- end .entry-content -->
		
		</div><!-- end .postclass -->
		
	<!--7 -->	
		<div class="post-49 post type-post status-publish format-standard hentry category-featured category-uncategorized tag-tag2 tag-tag5 tag-tag7 entry fourcol first one-third teaser first">

		<a href="/home/07_vonie" title="Quotes Time!"><img width="300" height="168" src="http://cafeptthumb1.phinf.naver.net/20160528_295/georgeyeon_1464433370890djO8L_JPEG/007.jpg?type=w740" class="alignleft post-image" alt="8" /></a>		
		<h2 class="entry-title"><a href="/home/07_vonie" title="Quotes Time!" rel="bookmark">Vonie Coffee</a></h2> 
		
				<div class="entry-content">
			        목적 <strong>수다,팀플</strong><br>
			        좌석수 <strong>약 80석</strong><br>
				    화장실 유무 <strong>X</strong>      <br>
					편안함 정도 <strong>★★★</strong> <br>
					세미나실 유무 <strong>X</strong>    <br>
					특이사항 <strong>외부 음식을 가져와서 먹을 수 있는 공간이 있음</strong>
				</div><!-- end .entry-content -->
		
		</div><!-- end .postclass -->
		
	<!--8 -->
		<div class="post-47 post type-post status-publish format-standard hentry category-featured category-parent-category-ii category-parent-category-iii tag-tag2 tag-tag4 tag-tag7 entry fourcol one-third teaser">

		<a href="/home/08_skydown" title="Left-Aligned Image"><img width="300" height="168" src="http://cafeptthumb1.phinf.naver.net/20160528_129/gamrom01_1464422501868IvJJV_JPEG/08.jpg?type=w740" class="alignleft post-image" alt="9" /></a>	
		<h2 class="entry-title"><a href="/home/08_skydown" title="A Post With a Left-Aligned Image" rel="bookmark">하늘아래</a></h2> 
		
				<div class="entry-content">
			        목적 <strong>수다,팀플</strong><br>
			        좌석수 <strong>약 60석</strong><br>
				    화장실 유무 <strong>X</strong>      <br>
					편안함 정도 <strong>★★★</strong> <br>
					세미나실 유무 <strong>X</strong>    <br>
					특이사항 <strong>카페 외부에 천장이 있는 테라스가 있고 그곳에서 팀플이나 밥을 먹을 수도 있음</strong>
				</div><!-- end .entry-content -->
		
		</div><!-- end .postclass -->
		
	<!--9 -->	
		<div class="post-45 post type-post status-publish format-standard hentry category-child-category-ii category-featured category-grandchild-category-i category-parent-category-i entry fourcol one-third teaser">

		<a href="/home/09_hollys" title="Another Text-Only Post"><img width="300" height="168" src="http://cafeptthumb2.phinf.naver.net/20160528_67/gamrom01_1464422502074seRvI_JPEG/09.jpg?type=w740" class="alignleft post-image" alt="10" /></a>	
		<h2 class="entry-title"><a href="/home/09_hollys" title="Another Text-Only Post" rel="bookmark">Hollys Coffee(동국대)</a></h2> 
		
				<div class="entry-content">
			      	목적 <strong>수다</strong><br>
			        좌석수 <strong>약 90~100석</strong><br>
				    화장실 유무 <strong>X</strong>      <br>
					편안함 정도 <strong>★★★</strong> <br>
					세미나실 유무 <strong>X</strong>    <br>
					특이사항 <strong>사정으로 인해 외부와 구분되는 벽이 없음</strong></div><!-- end .entry-content -->
		
		</div><!-- end .postclass -->
		
		


	
	
		
	  
	    
   


	</div><!-- end #content-sidebar-wrap -->
	</div><!-- end .wrap --></div><!-- end #inner --> 

		<div style="margin-bottom:35px">
			<center><a class="btn btn-default" href="/home/index" role="button">1</a>
					<a class="btn btn-default" href="/home/index_2" role="button">2</a>
					<a class="btn btn-default" href="/home/index_3" role="button">3</a>
					<a class="btn btn-default" href="/home/index_4" role="button">4</a>
					<a href="/list">
        <button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-align-left" aria-hidden="true">게시판</span></button></a></center>
					
		</div>
		<%= render partial: "/layouts/fooster" %>
		 
	</div><!-- end #wrap -->


</div>
