<div id="bigg-footer">
<div class="wrap">
        <div class="twocol">
            <div id="text-2" class="widget widget_text"><div class="widget-wrap"><h4 class="widgettitle"><img src="http://cafeptthumb1.phinf.naver.net/20160529_185/gamrom01_1464464948626724XV_PNG/likeionsdfs.png?type=w740"></h4>			
			<div class="textwidget"><ul class="plain-list">

</ul>
</div>
		</div></div>
        </div>
        <div class="twocol">
            <div id="text-3" class="widget widget_text"><div class="widget-wrap"><h4 class="widgettitle">5.28-5.29</h4>			<div class="textwidget"><ul class="plain-list">
<li><a href="#">해커톤</a></li>

</ul>
</div>
		</div></div>
        </div>
        <div class="fourcol">
            <div id="text-4" class="widget widget_text"><div class="widget-wrap"><h4 class="widgettitle"></h4>			<div class="textwidget"><p><img src="http://cafeptthumb1.phinf.naver.net/20160529_188/gamrom01_14644647695646CGh0_PNG/likesion.png?type=w740"></p>

<div>

</div>

</div>
		</div></div>
        </div>
        <div class="fourcol last">
            <div id="text-5" class="widget widget_text"><div class="widget-wrap"><h4 class="widgettitle">Developed by 동국대 멋쟁이 사자처럼</h4>			<div class="textwidget"><p>백기목 왕대현 김남균 조현욱 조지연 김은식</p>
            </div>
		</div></div>
        </div>
	