<div class="row">
				
				<div id="content" class="hfeed">
				<div class="post-5 post type-post status-publish format-standard hentry category-featured category-parent-category-i entry feature feature">

		<center><img src="http://cafeptthumb1.phinf.naver.net/20160528_75/gamrom01_1464447396575KOjoL_JPEG/%B7%CE%B0%ED%BF%C0%BF%C0%BF%C0%BF%C03.jpg?type=w740" alt="1" /></center> 
		
			
	</div><!-- end .postclass -->
</div>	
</div>