<div id="header">
  <div class="site-header row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <h1 class="site-header-logo-container">
        <a href="/"><span class="image-replace">Caf</span>
        <h1 class="site-header-logo-container" style="width: 200px;height: 80px;">
          <img src="http://cafeptthumb4.phinf.naver.net/20160528_118/gamrom01_1464443670123UjvR5_JPEG/%B7%CE%B0%ED.jpg?type=w740" id="bigg-logo" alt="Bigg" /></a>
        </h1>
      </h1>
    </div>
    <a href="/"><div class="col-md-6"><center><h1><font color="black"><!--여기 공백은 지우면안됨>>>-->　　　　CAFE in CHUNGMURO</font></h1></center></div></a>
       
    <div id="site-nav" class="horizontal-list">
      <div class="menu-main-menu-container"><ul id="menu-main-menu" class="menu"><li id="menu-item-144" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-144"><a href="/list">
        <button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-align-left" aria-hidden="true">게시판</span></button></a></li>
      <li id="menu-item-142" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-142"></li>
      </ul>
      </div>
    </div><!-- #site-nav -->
      
      
    <div id="site-header-bigg-social"></div>  
  </div>
</div>